config/environment.cfm
WEB-INF
*/.DS_Store
.project
/public/images/*
/public/stylesheets/*
/public/javascripts/*
/design/settings.cfm
/development/settings.cfm
/maintenance/settings.cfm
/production/settings.cfm